#contact
{
     font-family: 'lmao';
     text-align: center;
     scale: 300%;
     margin-bottom: 50px;
     margin-top: 40px;
}
#navbar a
{
    font-family: 'lmao';
    width: 19%;
    text-align: center;
    
    margin-left: auto;
    margin-right: auto;
    background-color: #A6B18E;
    font-size: 25PX;
    color: black;
    display: inline-block;
    

}
@font-face {
    font-family: 'lmao';
    src: url("steelfish.extra-bold.otf");
    
}
#text
{
    scale: 80%;
    text-align: center;
}
#contact 
{
    font-family: "lmao";
    text-align: center;
    
} 

#photos_1
{
    font-family: 'lmao';
    width: 100%;
    text-align: center;
    margin-left: auto;
    scale: 50%;
    border: 100px;
    border-color: #A6B18E;
}
@media screen and (max-width: 3000px){
    body {
        background-color: #DAD7CE;
    }
}

@media screen and (max-width:  500px ){
body{background-color: #DAD7CE;

}
form input{

    font-size: 100x;
}

}
    
