

#body
{
    background-color: #DAD7CE;
}
#contact
{
       font-family: 'lmao';
        /*this font look is the most similar to my original font from the figma website*/

     text-align: center;
     /*it looks better in the middle*/
     scale: 300%;
     margin-bottom: 50px;
     margin-top: 40px;
}
#navbar a
{
    font-family: 'lmao';
    width: 19%;
    text-align: center;
    
    margin-left: auto;
    margin-right: auto;
    background-color: #A6B18E;
    font-size: 25PX;
    color: black;
    display: inline-block;
    /*the navbar is seperated into diffrent buttons to make it easier to press the buttons to go to diffrent pages */

}
@font-face {
    font-family: 'lmao';
    src: url("steelfish.extra-bold.otf");
    
}


#form
{
    padding-top: 50px;
    text-align: center;
    padding: auto;
    /*i made it bigger to make it easier to see*/    
}
@media screen and (max-width:  1500px){
    body {
        background-color: #DAD7CE;
        /*the backround color is an offwhite to make the website more rustic */

    }
}

@media screen and (max-width:  500px ){
body{background-color: #DAD7CE;

}
form input{

    font-size: 30px;
}

}
    
