#header 
{
    text-decoration: solid;
    text-align: center;
    background-color: #A6B18E;
    
}

@font-face {
    font-family: 'lmao';
    src: url("steelfish.extra-bold.otf");
    
}

#body 
{
    
    font-family: 'lmao';
    margin: 10%;
    background-color: #DAD7CE;
    text-align: center;
    
    
}


#navbar a
{
    font-family: 'lmao';
    width: 50%;
    text-align: center;
    scale: 1%;
    margin-left: auto;
    margin-right: auto;
    background-color: #A6B18E;
    

}

     



#photos_1
{
    font-family: 'lmao';
    width: 100%;
    text-align: center;
    margin-left: auto;
    
}
#photos_1 img
{
width: 40%;
margin-left: 0%;

}

#photos_2
{
    font-family: 'lmao';
    width: 100%;
text-align: center;
    margin-left: auto;

}
#photos_2 img
{
width: 40%;
margin-left: 0%;

}

#photos_3
{
    font-family: 'lmao';
    width: 100%;
text-align: center;
    margin-left: auto;

}
#photos_3 img
{
width: 40%;
margin-left: 0%;

}
#photos_4
{
    font-family: 'lmao';
    width: 100%;
text-align: center;
    margin-left: auto;

}
#photos_4 img
{
width: 40%;
margin-left: 0%;

}

#photos_5
{
    font-family: 'lmao';
    width: 100%;
text-align: center;
    margin-left: auto;

}
#photos_5 img
{
width: 40%;
margin-left: 0%;

}


#footer 
{
    font-family: 'lmao';
    background-color: #61805B;
    text-align: center;
    
}