#header 
{
    text-decoration: solid;
    text-align: center;
    background-color: 61805B;
}

#body 
{
    margin: 10%;
    background-color: DAD7CE;
    text-align: center;
    text-box: calc(align-self);
    
}


#navbar a
{
    text-align: center;
    background-color: 61805B;
    text-decoration: solid;
    background-color: A6B18E;
    
}

#photos_1
{
    scale: calc(40%);
    text-align: left;
    box-sizing: border-box;
    text-size-adjust:(100);
    
}

#photos_2
{
    align-self: auto;
    size: 40%
    
}

#photos_3
{
    size: 20%;
    
}

#photos_4
{
    align-self: auto;
    size: 0.8;
}

#photos_5
{
    size: 0.8;
    align-self: auto;
}

#footer 
{
    align-self: auto;
    background-color: 61805B;
    
    
}